/* Style globaux */
body {

    background-color: brown;
}

a {
    text-decoration: none;
}

header, footer {

    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    width: 40%;
    margin: auto;
    color: brown;
    border-radius: 30px;
    margin-top: 20px;
}

ul {

    display: flex;
    list-style: none;
}

li a {

    list-style: none;
    margin-right: 10px;
    font-style: italic;
    color: brown;
    font-size: 18px;
    text-decoration: none;
    
}

/* Style spécifique */

.main-home, .main-type {

    width: 80%;
    margin: auto;
}

.main-title-home, .main-title-type {

    text-align: center;
    color: white;
    font-size: 2em;
}

.card-pokemon-home {

    border-color: black;
    border-style: solid;
    border-radius: 30px;
    margin-top: 30px;
    margin-right: 25px;
    margin-left: 5px;
    width: 150px;
    display: inline-block;
    background-color: white;
}

.card-colors-type {

    border: none;
    width: 200px;
    height: 80px;
    margin-top: 15px;
    margin-right: 5px;
}

img {

    margin-top: 10px;
    margin-left: 20px;
    width: 100px;
    height: 130px;
}

.number-home, .name-home {

    margin-bottom: 5px;
    margin-left: 10px;
    display: flex;
    font-size: 20px;
    color: brown;
}

.name-type {

    margin: 10px;
    color: white;
    font-size: 20px;
}
